{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/algo.generic    {:mvn/version "0.1.3"}
        org.clojure/math.combinatorics {:mvn/version "0.2.0"}
        org.flatland/ordered {:mvn/version "1.15.11"}
        hiccup/hiccup {:mvn/version "2.0.0-RC2"}
        org.clojure/core.async {:mvn/version "1.6.681"}}
 :paths ["src" "resources"]}
